@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* BASE VARIABLES*/
:root, :root.light{
    --bg-color: #FEF5ED;
    --bg-color-tinted: #f9fafb;
    --secondary-bg-color: #fce0c8;
    --terciary-bg-color: #99A799;
    --text-color: #566571;
    --secondary-text-color: #9baebc;
    --link-color: #00892e;
    --secondary-link-color: #659b91;
    --font: 'PT Serif';
}
:root.dark {
    --bg-color: #2C3639;
    --bg-color-tinted: #354044;
    --text-color: #DCD7C9;
    --secondary-text-color: #a5a093;
    --secondary-bg-color: #3F4E4F;
    --terciary-bg-color: #A27B5C;
    --link-color: #cf7d2e;
    --secondary-link-color: #E2B181;
}

body {
    padding: 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    max-width: 1250px;
    margin: auto;
    margin-bottom: 400px;
}

.nav-utils {
    float: right;
}
.nav-utils button {
    margin: 0;
    border-radius: 0%;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    outline:none;
}
.nav-utils button {
    padding-left: 1rem;

}
.nav-utils button:hover {
    color: gray;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: var(--link-color);
    text-decoration: none;
}


p {
    margin-left: 1rem;
}

article {
    max-width: 800px;
    margin: auto;
}

blockquote {
    display: table;
    background-color: var(--secondary-bg-color);
    border-left: var(--terciary-bg-color) solid 5px;
    padding: 9px;
    margin: 10px 0 10px;
}

blockquote p {
    margin: 0;
}

hr {
    height: 1px;
    background-color: var(--terciary-bg-color);
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2em;
    padding: 0.5rem;
}
h2 {
    font-size: 1.7em;
    font-weight: 600;
    /* color: #d08770 */
;
}
h3 {
    font-size: 1.4em;
    font-weight: 600;
    /* color: #ebcb8b; */
;
}
h4 {
    font-size: 1.2em;
    font-weight: 600;
    /* color: #a3be8c */
}
h5 {
    font-size: 0.9em;
    font-weight: 600;
    /* color: #b48ead; */
}
h6 {
    font-size: 0.8em;
    font-weight: 400;
    /* color: #d08770; */
}
h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: underline;
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: var(--secondary-link-color);
}

#navbar {
    max-width: 900px;
    width: 100%;
    margin: auto;
    margin-top: -1rem;
    padding-bottom: 5px;
    border-bottom: var(--terciary-bg-color) solid 2px;
}

@media only screen and (max-width: 800px){
    #navbar{
        font-size: 0.7em;
    }
    p {
        margin-left: 5px;
    }
}

.nav-container *{
    display: inline-block;
}

#navbar-name {
    padding-bottom: 0.1rem;
    font-weight: 500;
    font-size: 1.4em;
    width: fit-content;
}
#navbar-name a:hover {
    text-decoration: none;
}
#main-container {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

.footer {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.footer *{
    margin-bottom: 5px;
    width: fit-content;
}
.footer button {
    outline: none;
    font-family: inherit;
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    padding: 5px;
    font-size: 0.8em;
    border: 4px var(--terciary-bg-color) solid;
}
.footer button:hover {
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--terciary-bg-color);
}
.footer-socials {
    float: right;
}
.footer-socials *{
    padding-left: 10px;
    padding-right: 10px;
}
.footer a {
    color: var(--secondary-text-color);
}
.footer-socials a:hover {
    text-decoration: none;
    color: var(--terciary-bg-color);
}
.footer span {
    font-size: 0.7em;
    color: var(--secondary-text-color)
    padding: 0;
    margin: 0;
}

/* METADATA*/
.meta-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1rem;
    align-content: center;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 800px){
    .meta-container {
        justify-content: center;
    }
}

.metadata {
    border-left: 2px solid var(--terciary-bg-color);
    padding: 7px;
    padding-left: 1rem;
    margin-top: 1rem;
    height: fit-content;
}

.metadata span {
    color: var(--secondary-text-color);
    font-size: 0.87em;
}

#toc {
    max-width: 450px;
    float:  left;
    margin-right: 0;
    margin-top: 1rem;
    width: fit-content;
    padding: 4px;
    padding-top: 7px;
    border-top: 2px solid var(--terciary-bg-color);
}
#toc ul {
    margin: 0;
    list-style-type: decimal;
    counter-reset: item;
    padding-inline-start: 10px;
}
#toc ul li {
    display:  block;
}
#toc ul li a {
    color: var(--secondary-link-color);
}
#toc ul li:before {
    content:  counters(item, ".") ". ";
    counter-increment: item;
    font-size: 0.9em;
    color: gray;
}


/*SEARCH*/

#searchbtn {
    text-align: right;
    background-color: inherit;
    border: none;
}
#searchbtn:hover {
    cursor: pointer;
}
#searchBox {
    font-family: sans-serif;
    display: none;
    flex-direction: column;
    width: 75%;
    max-width: 800px;
    height: 70%;
    box-sizing: border-box;
    top: 10%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: black;
    border-radius: 6px;
    z-index: 100;
}
@media only screen and (max-width: 800px){
    #searchBox {
        width: 95%;
        height: 80%;        
    }
}
#searchBox input {
    border-radius: 6px 6px 0 0;
    outline: none;
    background-color: inherit;
    border: none;
    border-bottom: 5px solid var(--terciary-bg-color);
    height: fit-content;
    padding: 10px;
    font-size: 1.6em;
    font-family: sans-serif;
    color: white;
}
#resultsField {
    overscroll-behavior: contain;
    display: flex;
    overscroll-behavior: contain;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: 0;
}
#resultsField::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.result {
    display: flex;
    border-bottom: solid 2px var(--terciary-bg-color);
}
.result:hover {
    text-decoration: none;
}
.result:focus {
    outline: 0 none;
}
.result:hover, .result:focus-within{
    background-color: var(--secondary-bg-color);
    cursor: pointer;
}
.result .title {
    align-self: flex-start;
    display: block;
    white-space: nowrap;
    color: var(--secondary-link-color);
    font-size: 1.3em;
    padding: 0.75rem;
}
.result .title:hover {
    text-decoration: underline;
}
.result .path {
    align-self: center;
    display: block;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.9em;
}
/* FILTER */
#filter {
	display: block;
	padding: 0.5rem;
    color: var(--text-color);
	font-size: 0.9rem;
	background-color: inherit;
	border: 0px;
	border-bottom: 2.5px solid var(--secondary-bg-color);
}
#filter:focus {
    outline: none;
}

/* IMAGES */
figure {
    border: var(--secondary-bg-color) 1px solid;
    border-bottom: none;
    font-style: italic;
    text-align: center;
    display: table;
    width: fit-content;
    float: right;
    padding: 5px;
    margin-top: 1rem;
    max-width: 300px;
    max-height: 320px;
}
figure img:hover {
    border-bottom-color: var(--terciary-bg-color);
}
figure img {
    background-color: var(--bg-color-tinted);
    max-width: 300px;
    max-height: 250px;
    width: 100%;
    padding: 0;
    border: 2px solid var(--secondary-bg-color);
    margin: 0;
}
figure a {
    color: var(--text-color);
    padding: 0;
    margin: 0;
    display: flex;
    width: fit-content;
    height: fit-content;
}
figure figcaption {
    border: var(--secondary-bg-color) 1px solid;
    border-top: none;
    display: table-caption;
    caption-side: bottom;
    padding: 4px 3px 5px;
    font-size: 0.8em;
}

@media only screen and (max-width: 800px) {
    figure {
        float: none;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

/* MISC */
.tag-link, .tag-link:visited, .tag-link:hover {
    color: var(--secondary-link-color);
}

ul {
    list-style-type: disc;
}
ul ol {
    padding-inline-start: 20px;
}
li {
    padding-top: 2px;
    padding-bottom: 2px;
}