@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/* BASE VARIABLES*/
:root, :root.light{
    --bg-color: #f8f2ec;
    --secondary-bg-color: #d7fbeb;
    --terciary-bg-color: #a0c3b3;
    --text-color: #514538;
    --secondary-text-color: #c2a788;
    --link-text-color: #007562;
    --font: 'PT Serif';
    --switch-color: black;
}
:root.dark {
    --bg-color: black;
    --switch-color: white;
    --text-color: white;
}

body {
    padding: 2rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font);
    max-width: 1250px;
    margin: auto;
}

.nav-utils {
    float: right;
}
.nav-utils button {
    margin: 0;
    border-radius: 0%;
    background-color: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    outline:none;
}
.nav-utils button {
    padding-left: 1em;
}
.nav-utils button:hover {
    color: gray;
}

a {
    color: var(--link-text-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}
a:visited {
    color: var(--link-text-color);
    text-decoration: none;
}


p {
    margin-left: 1rem;
}

article {
    max-width: 800px;
    margin: auto;
}

blockquote {
    background-color: var(--secondary-bg-color);
    border-left: var(--terciary-bg-color) solid 5px;
    width: fit-content;
    height: fit-content;
    padding: 9px;
    padding-right: 10%;
    margin: 10px 0 10px;
}

blockquote p {
    margin: 0;
}

hr {
    height: 2px;
    background-color:  var(--terciary-bg-color);
    border: none;
}

h1 {
    text-align: center;
    font-weight: 700;
    font-size: 2.2em;
    padding: 0.5rem;
}
h2 {
    font-size: 1.5em;
    font-weight: 600;
    /* color: #d08770 */
;
}
h3 {
    font-size: 1.3em;
    font-weight: 600;
    /* color: #ebcb8b; */
;
}
h4 {
    font-size: 1.2em;
    font-weight: 600;
    /* color: #a3be8c */
}
h5 {
    font-size: 0.9em;
    font-weight: 600;
    /* color: #b48ead; */
}
h6 {
    font-size: 0.8em;
    font-weight: 400;
    /* color: #d08770; */
}
h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: underline;
}
h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: var(--secondary-link-color);
}

#navbar {
    max-width: 900px;
    margin: auto;
    padding-bottom: 5px;
    border-bottom: var(--terciary-bg-color) solid 2px;
}

@media only screen and (max-width: 700px){
    #navbar{
        font-size: 0.7em;
    }
}

.nav-container *{
    display: inline-block;
}

#navbar-name {
    padding-bottom: 0.1rem;
    font-weight: 500;
    font-size: 1.4em;
    width: fit-content;
}

.footer {
    max-width: 900px;
    margin: 0 auto;
}
.footer *{
    display: inline-block;
}

.footer-socials {
    float: right;
}

.footer-socials *{
    padding: 5px;
}
.footer-socials a:hover {
    text-decoration: none;
    color: var(--secondary-bg-color);
}
/* METADATA*/
.meta-container {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1rem;
    align-content: center;
    gap: 1rem;
    justify-content: space-between;
    flex-direction: row-reverse;
}

@media only screen and (max-width: 1050px){
    .meta-container {
        justify-content: center;
    }
}

.metadata {
    border-left: 2px solid var(--terciary-bg-color);
    padding: 1rem;
    margin-top: 1rem;
    height: fit-content;
}

.metadata span {
    color: gray;
    font-size: 0.95em;
}

#toc {
    max-width: 600px;
    float:  left;
    margin-right: 0;
    margin-top: 1rem;
    width: fit-content;
    padding: 0.5rem;
    border-top: 2px solid var(--terciary-bg-color);
}
#toc ul {
    list-style-type: decimal;
    counter-reset: item;
    padding-inline-start: 10px;
}
#toc ul li {
    display:  block;
}
#toc ul li a {
    color: var(--secondary-link-color);
}
#toc ul li:before {
    content:  counters(item, ".") ". ";
    counter-increment: item;
    font-size: 0.9em;
    color: gray;
}
