p {
    margin:0;
    margin-bottom: 0.5rem;
    padding: 0;
}
h1 {
    text-align: left;
    padding:0;
    font-weight: 400;
}
h4 {
    padding: 0;
    margin: 0;
}
.links a {
    padding-right: 1em;
    color: var(--secondary-link-color);
}
.links a:hover {
    text-decoration: none;
    color: var(--secondary-bg-color);
}
.column:nth-of-type(3) img{
    max-width: 100px;
    float: right;
    border-radius: 0%;
    border: var(--secondary-bg-color) solid 4px;
    margin-left: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}
.column:nth-of-type(1) {
    display: flex;
    align-items: center;
    gap: 1rem
}
.column:nth-of-type(4) span {
    font-size: 1.2em;
}
.column:nth-of-type(4) p {
    margin-left: 1rem;
}

@media only screen and (max-width: 800px)
{
    .container {
        margin-top: -2rem;
        display: flex;
        flex-direction: column;
    }
    .column {
        border-bottom: var(--terciary-bg-color) solid 2px;
        padding: 1rem 0;
    }
    .column:nth-of-type(1) {
        padding-bottom: 1rem;
        padding-top: 0;
    }
    .column:nth-of-type(4) {
        border: 0;
    }
    h1 {
        padding: 0;
        margin-bottom: -8px;
    }

}
@media only screen and (min-width: 800px)
    {
    h1 {
        margin: 0;
        padding-bottom: 1rem;
        font-size: 2.5em;
    }
    .container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 2fr 10fr;
        grid-column-gap: 0rem;
        grid-row-gap: 0rem; 
    }
    
    .column .links {
        width: fit-content;
    }

    .column {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .column:nth-of-type(3) {
        padding-top: 1rem;
        padding-right: 2rem;
    }
    .column:nth-of-type(2) {
        padding-top: 1.5rem;
    }
    .column:nth-of-type(4) {
        padding-top: 1rem;
        padding-left: 2rem;
    }
    .column:nth-of-type(1), .column:nth-of-type(3) {
        border-right: var(--terciary-bg-color) solid 2px;
    }
    .column:nth-of-type(1), .column:nth-of-type(2) {
        border-bottom: var(--terciary-bg-color) solid 2px;
    }
    
}