@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

section {
    margin-bottom: 4rem;
}
.list-image {
    padding-inline-start:0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    margin: 1rem;
    flex-direction: row;
    justify-content: center;
}
h2 {
    text-align: center;
    font-size: 2em;
}
ul {
    list-style-type: none;
    display: flex;
}
.items {
    justify-content: center;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item {
    background-color: var(--bg-color-tinted);
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
    display: block;
    width: 22rem;
    height: 17rem;
    border-radius: 2px;
    border: 4px solid var(--secondary-text-color);
}


.item:hover {
    /* border-color: var(--link-color); */
    background-color: var(--secondary-bg-color);
}
.item img {
    border-radius: 1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid var (--secondary-text-color);
}

.item-img-container {
    border-bottom: 1px solid var(--secondary-text-color);
    height: 72%;
    width: 100%;
}
@media only screen and (max-width: 700px){
    .item {
        width:80vw;
        height: 12rem;
        margin: 0rem;
        margin-bottom: 1rem;
    }
    .item-img-container {
        height: 62%;
    }
}
.item-desc {
    padding-top: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.item-name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1.25em;;
}
.item-date {
    text-align: center;
    font-size: 0.8em;
    padding-bottom: 10px;

}
#listToFilter a {
    outline: none;
    color: var(--text-color);
}
#listToFilter a:hover{
    text-decoration: none;
}