{{define "head"}}
    {{if .Params.math}}
        {{partial "math.html" .}}
    {{end}}
{{end}}

{{define "header"}}
{{partial "navbar.html" .}}

{{end}}

{{define "main"}}

{{$title := ""}}
{{if .Params.title}}{{$title = .Params.title}}{{else}}{{$title = .File.BaseFileName}}{{end}}
<h1>{{$title}}</h1>
{{if not (and (not .Params.date) .Params.disable_toc)}}
    <div class="meta-container">
        <!-- Series, date metadata -->
        <div class="metadata" {{if .Params.disable_toc}} style="margin: 0.4rem auto; float: none; margin-bottom: 30px;"{{end}}>
                {{if .Params.date}}
                    <div><span>Published:</span> {{ time.Format "Jan 2, 2006" .Params.date}}</div>
                    {{if .Params.tags}}<div><span>Tags:</span>{{range .Params.tags}} <a href="/tags/{{lower .}}">{{.}}</a>;{{end}}</div>{{end}}
                {{end}}
        </div>
            <!-- Table of Contents -->
            {{if not .Params.disable_toc}}
                {{partial "partials/toc.html" .}}
            {{end}}
        </div>
    {{end}}
<article>
    {{.Content}}
</article>
{{end}}

{{define "footer"}}
    {{partial "footer.html" .}}
{{end}}