{{define "head"}}
<link rel="stylesheet" type="text/css" href="/css/home.css">
{{end}}
{{define "header"}}
{{end}}
{{define "main"}}
<div class="container">
    <div class="column">
        <h1>Vít Černý</h1>
    </div>
    <div class="column links">
        <a href="https://twitter.com/VitCerny1" class="fa-brands fa-twitter fa-2xl"></a>
        <a href="https://github.com/vcerny01" class="fa-brands fa-github fa-2xl"></a>
        <a href="https://www.linkedin.com/in/v%C3%ADt-%C4%8Dern%C3%BD-5417b3245/" class="fa-brands fa-linkedin fa-2xl"></a>
        <div class="nav-utils">
            <button id="search-button" class="fa-solid fa-magnifying-glass fa-lg"></button>
            <button id="theme-toggle" class="fa-solid fa-sun fa-lg" onclick="changeTheme()"></button>
        </div>
        {{partial "nav-utils.html" .}}
    </div>
    <div class="column">{{.Content}}</div>
    <div class="column">Suspendisse dictum iaculis sem, et ultricies tortor pretium eget. Nulla a sem risus. Fusce eu elit justo. Proin blandit posuere mi id luctus. Aenean facilisis ornare risus vel rutrum. Morbi finibus gravida pharetra. In vulputate, sem eget accumsan accumsan, mauris nulla ullamcorper nibh, ut lacinia tellus justo sed neque. Mauris efficitur velit sed turpis vehicula porta. Nulla cursus libero purus, sed pellentesque metus bibendum gravida. Praesent posuere ligula fermentum risus iaculis, et interdum enim fermentum. Morbi sit amet odio nec odio cursus pretium. Donec tincidunt imperdiet accumsan. Nulla facilisi. </div>
    
</div>
{{end}}