<div id="navbar">
    <div class="nav-container">
        <div id="navbar-name"><a style="color: inherit;" href="/">Vít Černý</a></div>
        &ensp;
        <a href="/articles">Articles</a>&nbsp;
        <a href="/notes">Notes</a>&nbsp;
        <a href="/gallery">Photos</a>&nbsp;
        <a href="/music">Music</a>
    
        <div class="nav-utils">
                <button id="search-button" class="fa-solid fa-magnifying-glass"></button>
                <button id="theme-toggle" class="fa-solid fa-sun" onclick="changeTheme()"></button>
            </div>
        </div>
    </div>
</div>
{{partial "nav-utils.html"}}